{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="container" role="main">
      <div class="c2 c2-padding" id="mainPanel">
<div style="padding: 0px 6px; text-align: justify">
  <div class="mfsl fcb" style="font-size:20px; text-align: center">Item Catalog App Privacy Policy</div><br>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">The Item Catalog Web Application is a project made for the Udacity's Fullstack Developer Nanodegree program with the goal of creating a web application with Python, Flask, Html& CSS, "<strong>Supports</strong>" user registration, and authentication system, ability to post, edit and delete for users' items. And make APIs requests.</p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">This Privacy Policy describes how your information is collected and used when you use the App.</p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">The App is intended for a public use and in accordance with (“<strong>The General Conditions& Terms</strong>”). </p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">The App will create ("<strong>Your Account</strong>") automatically after your first signin via Facebook/ or Google signin, then it will store your associated Email, Username, and Picture in our database, so you can use the all functionality of the App as a registered user, including the ability to post, edit and delete for your items, and get your authenticated token for your API requests. </p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">If you have any questions about your use of the App, please <a href="mailto:<Catalog App Support> wael.abdelhamid@gmail.com?subject='An inquery about Item Catalog App'">contact us</a>.</p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>I. What kinds of information is collected?</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">We will collect the following kinds of information when you login to the App: </p>
  <ul class="_2-fv" style="list-style: disc; color: black; display: block; -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; -webkit-padding-start: 40px;">
    <li>your contact information, such as full name and email address;<p class="_46ki"></p>
    </li>
    <li>your username and picture;<p class="_46ki"></p>
    </li>
  </ul>
  <p></p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>II. How does we use this information?</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">We will permanently store the information that it collects with Facebook/ or Google, as providers of the signin process "<strong>OAuth providers</strong>", in order to allow the App to provide the needed functionality for your
    account as a registered user. Examples of such use include: </p>
  <ul class="_2-fv" style="list-style: disc; color: black; display: block; -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; -webkit-padding-start: 40px;">
    <li>enhancing the security and safety of the App by preventing other users from delete or edit the items added by you;<p class="_46ki"></p>
    </li>
    <li>personalising your experiences as part of our provision of the App;<p class="_46ki"></p>
    </li>
    <li>associating activity on the App across different devices operated by the same individual to improve the overall operation of the App;<p class="_46ki"></p>
    </li>
    <li>to identify and fix bugs that may be present; and<p class="_46ki"></p>
    </li>
    <li>conducting data and system analytics, including research to improve the App.<p class="_46ki"></p>
    </li>
  </ul>
  <p></p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>III. Accessing and modifying your information</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">Till now there is no option to access, correct or delete information that you have uploaded to the App via the signin process. If you are not want to using your current user account provided in the App, you should click on Disconnect link, and login with another user.</p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>IV. Third-party links and content</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">The App may contain links to content maintained by third parties. You should review the privacy policies of each website that you visit.</p>
  <br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>V. Account Closure</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">Till now there is no option to close or delete your account, just you should click on Disconnect link.</p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>VI. Changes to the Privacy Policy</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">This Privacy Policy may be updated from time to time. When updated the “last updated" date below will be amended and the new Privacy Policy will be posted online.</p><br>
  <p class="_46ki" style="font-size: 18px; line-height: inherit;"><strong>VII. Contact</strong></p>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">If you have any questions about this Privacy Policy, please <a href="mailto:<Catalog App Support> wael.abdelhamid@gmail.com?subject='An inquery about Privacy Policy'">contact us</a>.</p><br>
  <p class="_46ki" style="font-size: 16px; line-height: inherit;">Last updated: 18 November 2019</p>
</div>
</div>
</div>
{% endblock %}
